body {
    font-family: sans-serif;
}
/**colocando as bordas na tabela**/
table, .config {
    border: 1px solid black;
    border-collapse: collapse;
    /**collapse para as bordas se unirem**/
    width: 500px;
    margin: auto;
}
table td {
    border: 1px solid black;
    height: 166px;
    width: 166px;
    text-align: center;
    font-size: 96px;
}
.config {
    text-align: center;
    border: none;
    margin-bottom: 10px;
}
.config input {
    padding: 10px;
}
.config button {
    padding: 5px 15px;
    border: none;
    background-color: lightgray;
}
.config span {
    background-color: lightgray;
    padding: 8px 16px 12px 15px;
    vertical-align: baseline;
    border: none;
}